
hr.solid {
    border-top: 10px solid #bbb;
    margin: 0;
}



.container-cust {
    color: white;
    background: linear-gradient(-45deg, #26987f, #074319, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier;

  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#hero-section {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

#spacing {
    margin-top: 15px;
}

.section {
    transition: background-color 0.5s ease;
  }


.title {
    font-size: 50px;
    text-align: center;
    color: white;
}



.subtitle {
    padding-top: 20px;
    text-align: center;
}


.hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about {
    text-align: center;
}

#black {
    color: black;
}

#left {
    margin-right: 30%;
}

#right {
    margin-left: 30%;
}

.field {
    width: 60vw;
}

.button {
    margin-top: 20px;

}

#help-btn {
    display: block;
}

.card {
    display: flex;

    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    
}

.hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid #61dafb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
    background: none;
    display: flex;
    
  }

  #card-pop {
    border: 1px solid #61dafb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px); 
  }
  


.content {
    color: white;
}

.card:hover {
    transform: translateY(-10px);
}

#last {
    margin-bottom: 200px;
}

.subtitle-work {
    font-size: 25px;
}

#white {
    color: white;
}

strong {
    color: white;
}


#item:hover {
    color: #26987f;
}